:root {
	--grey: #d3d3d3;
	--bisque-text: bisque;
	--black: black;
	--teal-background: rgb(28, 91, 112);
	--white: white;
	--coral: #ff6961;
	--green: #77dd77;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1;
	background-image: url("../images/beige-background76.png");
	background-color: var(--bisque-text);
	opacity: 0.70;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
/* Where the user will type in */
textarea {
	background: transparent;
	border: none;
	resize: none;
	border-left: 1px solid var(--black);
	padding: 10px;
}
textarea:hover {
	filter: brightness(130%);
}

/*  Top header area */
.jumbotron {
	text-align: center;
	background-color: transparent;

	background-color: var(--teal-background);
	border-radius: 0;
	border-bottom: 10px solid var(--black);
	opacity: 0.95;

	color: bisque;
}

/* date in header */
.lead {
	text-align: center;
	color: var(--bisque-text);
	font-weight: bold;
}

/* Title in header */
.display-3 {
	color: var(--bisque-text);
}

/* used in textarea */
.description {
	white-space: pre-wrap;
}

/* for each row */
.time-block {
	text-align: center;
	border-radius: 15px;
}

.row {
	white-space: pre-wrap;
	height: 80px;
	border-top: 1px solid var(--white);
}

.text-muted {
	height: 80px;
}

/* the hours on the left */
.hour {
	background-color: var(--white);
	color: var (--black);
	border-top: 1px dashed var(--black);
	font-size: larger;
}

/* color of time blocks in the past */
.past {
	background-color: var(--grey);
	color: var(--white);
}

/* color of time blocks in the present hour */
.present {
	background-color: var(--coral);
	color: var(--white);
}

/* color of time blocks in the future */
.future {
	background-color: var(--green);
	color: var(--white);
}

/* button to save text to local storage */
.saveBtn {
	border-left: 1px solid var(--black);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: var(--teal-background);
	color: var(--white);
	font-size: 2.0rem;
}

.saveBtn:hover {
	font-size: 3rem;
	transition: all 0.2s ease-in-out;
	filter: brightness(125%);
}
